@charset "utf-8";

/****** card.jsp */





/****** card.jsp */

.list_card{
	margin-bottom:25px;
}

.list_content{
	padding:12px;
	margin:0px 0px 3px 3px;
	border: 1px solid #eee;
	border-radius: 1em;
}


.detail_btn{
	width:98%;
}





/****** 共通 */

/* 全タグへ適用 */
* {
    /* 外部余白 */
	margin: 0;
    /* 内部余白 */
	padding: 0;
    /* フォント */
	font-family: "メイリオ";
}

/****** 基礎 */

#wrap {
}

/****** ヘッダー */

#header {
    /* 高さ */
	height: 40px;
    /* 内部余白 */
	padding: 5px 10px 10px 20px;
    /* フォントサイズ */
	font-size: 150%;
    /* 文字色 */
	color: #eee;
    /* 背景色 */
	background: #000;
}

/****** メインコンテンツ */

#main {
    /* 幅 */
	width: 100%;
   /* 高さ */
	min-height: 650px;
    /* 内部余白 */
	padding: 20px 0;
}

#content {
    /* 幅 */
	width: 70%;
    /* 外部余白 */
	margin: 0 auto;
    /* 枠線 */
	border: 1px dashed #333;
    /* 文字色 */
	color: #333;
    /* 背景色 */
	background-color: #fff;
}

/* float解除用 */
#content:after {
	content: "";
	clear: both;
	display: block;
}

#menu {
    /* 表示形式 */
	float: left;
    /* 幅 */
	width: 25%;
    /* 内部余白 */
	padding-top: 10px;
    /* 文字表示 */
	text-align: center;
}

#profile {
    /* 表示形式 */
	float: left;
    /* 幅 */
	width : 75%;
    /* 内部余白 */
	padding: 10px 0;
}

/* float解除用 */
#profile:after {
	content: "";
	clear: both;
	display: block;
}

#image {
    /* 表示形式 */
	float: left;
    /* 幅 */
	width: 50%;
	height: 280px;
	position: 200px 10px;
}

#table {
    /* 外部余白 */
	margin-top: 5px;
	margin-left: 10px;
}

/* float解除用 */
#free_comment:before {
	content: "";
	clear: both;
	display: block;
}

#free_comment {
    /* 外部余白 */
	margin: 10px;
    /* 内部余白 */
	padding: 7px;
    /* 枠線 */
	border: 5px double #eff5ff;
    /* 文字色 */
	color: #19243D;
    /* 背景色 */
	background-color: #F4F8FC;
    /* 枠線角丸 */
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#footer {
    /* 高さ */
	min-height: 50px;
    /* 文字色 */
	color: #fff;
    /* 文字表示 */
	text-align: center;
    /* 背景色 */
	background: #000; /* Old browsers */
}

}